.image{
    width:250px;
    height:80px;
    }
    .imgp{
		width: 100%;
		height: 200px;
	}
.imga{
		width:100%;
		height: 170px;
    }
    #head{
        background-color: #000000;
    }
a:hover{
    color: blue !important;
}